:root {
  --dark-bg: #0b0f1a;
  --card-bg: #111827;

  --indigo: #4f46e5;
  --indigo-light: #6366f1;

  --green: #22c55e;
  --green-light: #4ade80;

  --text-main: #e5e7eb;
  --text-muted: #9ca3af;

  --radius: 14px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  background: var(--dark-bg);
  color: var(--text-main);
}
