body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: #00ff88;
}

.electric-bg {
  background: black;
  position: relative;
}

.electric-bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    120deg,
    transparent,
    transparent 20px,
    rgba(0, 255, 136, 0.2) 22px
  );
  pointer-events: none;
}

.card {
  background: #111;
  border: 1px solid #00ff88;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}
button {
  background: #00ff88;
  border: none;
  padding: 10px;
  color: black;
  border-radius: 5px;
}
