:root {
    --black: #000000;
    --neon-red: #ff0000;
}

body {
    margin: 0;
    background-color: var(--black);
    color: white;
    font-family: Arial, sans-serif;
    /* بجلی کی لکیروں والا بیک گراؤنڈ */
    background-image: 
        linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),
        repeating-linear-gradient(45deg, transparent, transparent 100px, rgba(255, 0, 0, 0.05) 100px, rgba(255, 0, 0, 0.05) 101px),
        repeating-linear-gradient(-45deg, transparent, transparent 150px, rgba(255, 0, 0, 0.03) 150px, rgba(255, 0, 0, 0.03) 151px);
    height: 100vh;
}

.app-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.logo-text {
    color: var(--neon-red);
    text-shadow: 0 0 15px var(--neon-red);
    text-align: center;
    font-style: italic;
    font-size: 2.5rem;
}

#map {
    height: 250px;
    width: 100%;
    margin: 15px 0;
}

.neon-border {
    border: 1px solid var(--neon-red);
    box-shadow: 0 0 15px var(--neon-red);
    border-radius: 12px;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 10px;
}

.card {
    padding: 15px;
    text-align: center;
    background: rgba(20, 0, 0, 0.6);
}

.live-tag {
    color: var(--neon-red);
    font-weight: bold;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

.main-btn {
    background: var(--neon-red);
    color: white;
    border: none;
    padding: 18px;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 0 20px var(--neon-red);
    margin: 25px 0;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.95);
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    border-top: 2px solid var(--neon-red);
}

.nav-item {
    font-size: 0.8rem;
    color: #666;
    text-align: center;
}

.nav-item.active {
    color: var(--neon-red);
}
